* {
    margin: 0;
    padding: 0;
    border: 0;
}


.carousel {
    max-width: 750px;

    margin: 0 auto;

}



.carousel-inner {
    height: 400px;


}


.carousel-item img {
    object-fit: cover;

    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.footer {
    font-size: 100%;
    background-color: grey;
    color: white;
    padding: 20px
}


@media (min-width: 992px) {
    .navbar-collapse {
        justify-content: flex-end;
    }
}

